.div8 {
    width: 1349px;
    display: flex;
}
.div88 {
    width: 1000px;
    background-color: #22356F;
}
.h48{
    margin-left: 150px;
    margin-top: 100px;
    font-size: 16px;
    font-family: serif;
    color: white;
}
.divtext8 {
    width: 700px;
    margin-left: 150px;
    margin-top: 200px;
    color: white;
    font-size: 36px;
    font-family: sans-serif;
;
}
.btn8 {
    margin-left: 150px;
    border: none;
    margin-top: 150px;
    font-size: 16px;
    color:  gray;
    background-color: white;
    border: none;
    background-color: #22356F;
}